@media (prefers-reduced-motion: no-preference) {

    * {
        scroll-behavior: smooth;
    }
}

header {
    width: 100%;
    background-color: #dd7513; 
    
}
#logo {
    width: max(100px, 18vw);
    background-color: #dd7513;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}
h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
}

ul { 
    list-style-type: none;
    overflow: hidden;
    background-color: #724502;
  }
  
  li {
    margin-left: 280px;
        display: inline-block;
  }
  
  li a {
    color: white;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #724502;
  }
  
  body{
    background-color: #dd7513;

  }
  div#parrafo1{
    text-align: center;
    text-decoration: overline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-wrap: normal;
    writing-mode: horizontal-tb;
    color: antiquewhite;
  }