* {
        font-family: Arial, sans-serif;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        color: #724502;
    }

    body{
      background: linear-gradient(90deg, rgba(238, 171, 107, 1) 0%, rgba(255, 243, 219, 1) 35%, rgba(255, 243, 219, 1) 77%, rgba(238, 171, 107, 0.8421743697478992));
    }
    
#logo {
      width: 110px;
      float: left;
      height: auto;
      margin-top: -28px;
      overflow: hidden;
}

header {
      background-color: #da7707; 
      padding: 35px;
      text-align: center;
    }

#título{
      font-size: 30px;
      text-align: center;
      color: #724502;
      width: 300px; 
      margin: 0 auto; /* Establece los márgenes izquierdo y derecho a "auto" para centrar horizontalmente */
      max-width: 800px; /* Ancho máximo del elemento */
      padding: 5px;    
      margin-bottom: 20px;
}

#historia{
    margin: 35px auto 0;
    max-width: 800px; /* Establece un ancho máximo para el contenido principal */
    padding: 20px;
    border: 1px solid #ccc; /* Agrega un borde alrededor del contenido principal */
    border-radius: 10px;
    background-color: #f7e3c6; /* Cambia el color de fondo para resaltar el contenido */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#historia1{
    margin: 35px auto 0;
    max-width: 800px; /* Establece un ancho máximo para el contenido principal */
    padding: 20px;
    border: 1px solid #ccc; /* Agrega un borde alrededor del contenido principal */
    border-radius: 10px;
}

.container {
  text-align: justify;
  line-height: 1.5;
}

#Subtitulo { 
    font-size: 18px;
    margin-top: 20px;
}

img {
  width: 500px;
  height: auto;
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto;
}

#pasteleriafoto {
  transition: transform 0.3s ease;
}

#pasteleriafoto:hover {
  transform: scale(1.1);
}
      
      /* Comentarios */