@media (prefers-reduced-motion: no-preference) {

  * {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 600px) {
  
}

header {
  max-height: 70%;
  background-color: #dd7513c9;
  background-image: url(imgs/header.jpeg);
  opacity: 0.8;
}

.social--face {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.002v2.605h-1.197c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  
}
.social--insta {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h14c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2M9.984 15.523a5.539 5.539 0 0 0 5.538-5.539c0-.338-.043-.664-.103-.984H17v7.216a.69.69 0 0 1-.693.69H3.693a.69.69 0 0 1-.693-.69V9h1.549c-.061.32-.104.646-.104.984a5.54 5.54 0 0 0 5.539 5.539M6.523 9.984a3.461 3.461 0 1 1 6.922 0a3.461 3.461 0 0 1-6.922 0M16.307 6h-1.615A.694.694 0 0 1 14 5.308V3.691c0-.382.31-.691.691-.691h1.615c.384 0 .694.309.694.691v1.616c0 .381-.31.693-.693.693'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  
}

body {
  background: rgb(238, 171, 107);
  background: linear-gradient(90deg, rgba(238, 171, 107, 1) 0%, rgba(255, 243, 219, 1) 35%, rgba(255, 243, 219, 1) 77%, rgba(238, 171, 107, 0.8421743697478992) 100%);
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.socialico{
  float: right;
  text-align: left;
  
}

#logo {
  max-height: 100px;
  display: flex;
}


nav {
  width: 100%;
  height: 40px;
  background:#dd7513c9;
  position: sticky;
  top: 0;
  opacity: 0.9;
  text-transform: capitalize;
  text-align: center;
  border-style: groove;
  border-width: 2px;
  border-color: black;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #da7707;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: rgb(34, 31, 31);
  padding: 10px 30px;
  text-decoration: none;
  
}

nav ul li:hover {
  background-color: #5c32017c;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #da7707;
  min-width: 100px;
  border: #724502;
  z-index: 1;
}

.dropdown-content li {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.parrafo {
  text-align: center;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-wrap: normal;
  writing-mode: horizontal-tb;
  color: #724502;
}
.promo{
  width: 300px;
  height: 480px;
  background-color: #2e282018;
  box-shadow: 10px 10px 300px -43px rgba(0,0,0,0.75);
  border-radius: 5px;
  min-width: 300px;
  background: url(imgs/fondoCump.png);
  background-size: cover;
}

.cantGente{
  margin-top: 10%;

  
}
h4{
  text-align: center;
  
}
.tipoPromo {
  text-align: center;
  margin: 2%;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  font-size: 30px;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-wrap: normal;
  color: #724502;
  text-transform: capitalize;
}

.listProm {
  list-style: none;
  max-width: fit-content;
  margin: auto;
  
}

.container{
flex-wrap: wrap;
gap: 5px;
display: flex;
justify-content: space-around;
}