@media (prefers-reduced-motion: no-preference) {

  * {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
}

header {
  max-height: 50%;
  background-color: #dd7513c9;
}

body {
  background: rgb(238, 171, 107);
  background: linear-gradient(90deg, rgba(238, 171, 107, 1) 0%, rgba(255, 243, 219, 1) 35%, rgba(255, 243, 219, 1) 77%, rgba(238, 171, 107, 0.8421743697478992) 100%);
}

#logo {
  max-height: 100px;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #da7707;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: rgb(34, 31, 31);
  padding: 10px 30px;
  text-decoration: none;
}

nav ul li:hover {
  background-color: #5c32017c;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #da7707;
  min-width: 100px;
  border: #724502;
  z-index: 1;
}

.dropdown-content li {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.parrafo {
  text-align: center;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-wrap: normal;
  writing-mode: horizontal-tb;
  color: #724502;
}

.promo {
  border: 2px solid black;
  background: #e29f0f6b;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: fit-content;
}


.listProm {
  border: 4px double rgba(0, 0, 0, 0.281);
  background-color: rgba(0, 0, 0, 0.055);
  list-style: none;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: fit-content;
  display: flex;
}

.cantGente {
  display: flex;
}